{
  "branches": [
    "main",
    {
      "name": "dev",
      "prerelease": true
    }
  ],
  "plugins": [
    [
      "@semantic-release/commit-analyzer",
      {
        "releaseRules": [
          {
            "type": "fix",
            "release": "patch"
          },
          {
            "type": "feat",
            "release": "minor"
          },
          {
            "type": "bump",
            "release": "patch"
          },
          {
            "type": "perf",
            "release": "patch"
          },
          {
            "type": "build",
            "scope": "Needs bump",
            "release": "patch"
          }
        ]
      }
    ],
    [
      "@semantic-release/release-notes-generator",
      {
        "preset": "conventionalcommits",
        "presetConfig": {
          "types": [
            {
              "type": "fix",
              "section": "Bug Fixes",
              "hidden": false
            },
            {
              "type": "feat",
              "section": "New Features",
              "hidden": false
            },
            {
              "type": "bump",
              "section": "Updated App Support",
              "hidden": false
            },
            {
              "type": "perf",
              "section": "Improvements",
              "hidden": false
            },
            {
              "type": "build",
              "hidden": true
            }
          ]
        }
      }
    ],
    [
      "@semantic-release/changelog",
      {
        "changelogFile": "CHANGELOG.md"
      }
    ],
    "gradle-semantic-release-plugin",
    [
      "@semantic-release/exec",
      {
        "prepareCmd": "./gradlew generatePatchesList && jq ' .version=\"${nextRelease.version}\" ' patches-list.json > patches-list.json.tmp && mv patches-list.json.tmp patches-list.json && python3 .github/scripts/generate_patches_readme.py \"$GITHUB_REPOSITORY\" \"$GITHUB_REF_NAME\" patches-list.json PATCHES.md"
      }
    ],
    "./.github/scripts/bundle-metadata.cjs",
    [
      "@semantic-release/git",
      {
        "assets": [
          "CHANGELOG.md",
          "gradle.properties",
          "patches-bundle.json",
          "patches-list.json",
          "PATCHES.md"
        ],
        "message": "chore: Release Series Tracker ${nextRelease.version} [skip ci]\n\n${nextRelease.notes}"
      }
    ],
    [
      "@semantic-release/github",
      {
        "assets": [
          {
            "path": ".local/release-assets/*.mpp"
          },
          "LICENSE",
          "NOTICE"
        ],
        "successComment": false,
        "releaseNameTemplate": "Series Tracker ${nextRelease.version}"
      }
    ]
  ],
  "tagFormat": "series-v${version}"
}
